.section {
  background-color: black;
  color: white;
  padding: 60px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  margin: 10px;
  padding: 10px 20px;
  background-color: lightcoral;
  color: black;
  border-radius: 5px;
  transition: background-color 0.7s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
@keyframes contact-item-animation {
  100% {
    transform: rotateY(360deg);
  }
}

.link:hover {
  /* background-color: #0056b3; */
  background-color: rgb(242, 117, 117);
  animation: contact-item-animation 0.7s ease-in;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 20px;
}
.desc {
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* for mobile */
  .link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .label {
    display: none;
  }
}
